<div id="cabeceraLogin" class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <h1>Chat de carpintería</h1>
    </div>
  </header>
</div>
<div id="formularioLogin" class="container">
  <main class="form-signin w-100 m-auto">
    <form>
    <h3 class="h3 mb-3 fw-normal">Loguéate</h3>

    <div class="form-floating">
      <input name="userName" [(ngModel)]="formularioLogin.mail" type="email" class="form-control" id="floatingInput" placeholder="saturnino34">
      <label for="floatingInput">Nombre Usuario</label>
    </div>
    <div class="form-floating">
      <input name="password" [(ngModel)]="formularioLogin.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div>
      <button class="btn btn-outline-secondary w-100 py-2" (click)="onLogin()">Entrar</button>
      <p>Tienes cuenta? <a routerLink="/register">Regístrate aquí.</a>
    </div>
</form>
</main>
</div>
<router-outlet></router-outlet>